
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #416184, #e13a3a);
}
.app-title{
  font-size: 35px;
  font-family: "Roboto";
  font-weight: 700;
  color: #f4f4f4;
}